.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.everything {
  background-color: #EFEFEF;
}

.everything .images {
  border-radius: 3%;
  background-color: #EFEFEF;
}

.everything .prof-image {
  border-radius: 50%;
}

.prof-title {
  font-size: 25px;
}

.prof-subtitle {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.space {
  height: 20px;
}

.card-img-top {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.profile-card {
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 3%;
  width: 95%;
  background-color: white;
  border: solid white 1px;
}

.text-card-title {
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}

.text-card-sub {
  margin-left: 30px;
  font-size: 25px;
}

.text-card-op {
  margin: 0 auto;
  margin-top: 20px;
  width: 250px;
}

.text-card-text {
  margin: 0 auto;
  margin-top: 20px;
  width: 250px;
}

.Text-card {
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 3%;
  width: 95%;
  text-align: left;
  background-color: white;
}

.prof-image {
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 20px;
}

.icons {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 0px;
}

.image-card {
  border-radius: 3%;
  width: 90%;
}

.q-and-a {
  margin-top: 15px;
  margin-bottom: 15px;
}

.q-and-a-text {
  margin: 0 auto;
  border-radius: 3%;
  width: 90%;
  text-align: left;
  padding-top: 1px;
  padding-left: 15px;
  background-color: white;
}

.images {
  width: 95%;
  height: 95%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.thetitle {
  background-color: #02D1A3;
  color: white;
  margin: 0 auto;
  padding-bottom: 20px;
  vertical-align: center;
  height: 55px; 
  font: Lato;
  font-size: 40px;
}

.titlespace {
  background: #02D1A3;
  color: white;
  height: 20px;
  padding: 50px;
  vertical-align: center;
  position: relative;
  font: Lato;
  font-size: 40px;
  
}


.nav-bar {
  min-width: 100vw;
  background-color: white;
  border-top: 1px solid rgba(128, 128, 128, 0.178);
}

.nav-button-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 90vw;
}

.nav-button {
  padding: 1em;
}

.chat-headerr {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lato';
  color: #424242;
  border-bottom: 1px solid rgba(128, 128, 128, 0.178);
  width: 90vw;
  height: 10vh;
  margin: 0 auto;
},

  .chat-headerr {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Lato;
    color: #424242;
    font-size: 18px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.178);
    width: 90vw;
    height: 10vh;
    margin: 0 auto;
  }
  
  .contains-chat {
    margin-left: 2em;
    margin-right: 2em;
  }
  
  .chat-container {
    /* background-color: lightgreen; */
    width: 90vw;
    height: 76vh;
    font-size: 25px;
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: center;
    position: relative;
    overflow-y: scroll;
  }
  
  .chat-header p, .chat-container p {
    margin: 0;
  }
  
  .chat-header, .chat-container {
    margin: 0;
  }
  .chat-picture {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 0;
  }
 
  .chat-button {
    width: 9vw;
    color: rgba(0,0,0,0)
  }
  
  .text-input {
    width: 60vw;
    border-radius: 12px;
    height: 4vh;
    font-size: 20px;
    padding: 0em 0.2em 0em 0.2em;
  }
  
  #user-chat {
    display: flex;
    flex-direction: left;
    text-align: right;
    /* height: 10vh; */
    background-color: #02D1A3;
    /* width: 90vw;
    leftmargin: 30px;*/
    border-radius: 25px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    margin-top: 20px;
    font: Lato medium;
    font-size: 16px;
    /* position: relative; */
    content: "";
    /* align-items: flex-end; */
    /* display: inline-block;  */

    /* border-radius: 10px; */
  } 
  
  #response-chat {
    display: flex;
    flex-direction: right;
    text-align: right;
    /* height: 10vh; */
    background-color: #EFEFEF;
    /* width: 90vw;
    leftmargin: 30px;*/
    border-radius: 25px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    font: Lato medium;
    font-size: 16px;
    margin-top: 30px;
  }
  
